<p id="notice"><%= notice %></p>
<div align="center">
<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
<h1> Contact Manager </h1>
<div class="panel panel-default">
 <table class="table">
  <thead>
    <tr>
      <th>Name</th>
     
      <th>Phone</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_apps.each do |contact_app| %>
      <tr>
        <td><%= contact_app.First_name %></td>
        
        <td><%= contact_app.Phone %></td>
        
        <td><%= link_to 'Show', contact_app,class: "btn btn-success"  %></td>
        <td><%= link_to 'Edit', edit_contact_app_path(contact_app), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', contact_app, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Contact app', new_contact_app_path ,class: "btn btn-primary"%>
</div>
</div>
</div>
